@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alice:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";


#root {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #2D2D2D;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-alfa: "Alfa Slab One", sans-serif;
  --font-alice: "Alice", sans-serif;
  --shadow-rb: 10px 10px 20px rgb(0 0 0 / 0.2);
}

@custom-variant dark (&:is(.dark *));

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


